{% extends "layout.html" %}

{% block title %}
    MY TRANSACTIONS
{% endblock %}

{% block main %}
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    table.center {
      margin-left: auto;
      margin-right: auto;
    }
    </style>
    <table style="width: 50%" class="center table table-dark table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Type</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td> {{ transaction["symbol"].upper() }} </td>
                <td> {{ transaction["type"] }} </td>
                <td> {{ transaction["shares"] }} </td>
                <td> {{ usd(transaction["price"]) }} </td>
                <td> {{ transaction["time"] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
